@import "~antd/dist/antd.css";

::-webkit-scrollbar {
  width: 8px;
  background-color: #0067a3;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #66a4c7;
  border-radius: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0079bf;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-style: italic;
}

.header {
  background-color: #0067a3;
  height: 50px;
}

.boards {
  text-align: left;
}

.boards-icon {
  cursor: pointer;
}

.boards-item {
  cursor: pointer;
}

.create-board {
  text-align: right;
}

.create-board-icon {
  cursor: pointer;
}

.no-boards {
  font-size: 32px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-board-view {
  margin: 10px;
}

.main-board-view-header {
  color: #ffffff;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.main-board-view-content {
  padding: 10px 0;
  overflow-x: auto;
  height: 100%;
  white-space: nowrap;
}

.main-list-view-contain {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 100%;
  border-radius: 5px;
}

.main-list-view {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 100%;
  background: #e2e4e6;
  border-radius: 5px;
  margin: 0 5px;
}

.row-padding {
  padding: 0 10px;
}

.add-list-title {
  padding: 25px;
  background-color: #055c8f;
  border: 0px;
  color: #ffffff;
}

.main-list-view-title {
  width: 300px;
  margin: 5px;
}

.main-list-view-input {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  background-color: #e2e4e6;
  color: #404041;
  cursor: pointer;
}

.main-list-view-icon,
.main-card-view-icon {
  top: 14px;
  text-align: center;
  cursor: pointer;
}

.main-card-view-input {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin: 5px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #404041;
  cursor: pointer;
}

.main-card-view-icon:hover {
  font-weight: bolder;
}

.add-card {
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  height: 40px;
  cursor: pointer;
}

.add-card > p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.add-card:hover {
  text-decoration: underline;
  background-color: #a5a5a5;
}

.wordwrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
